/* these lines of code apply to whole app (that's what asterik means) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sets background color */ 
body {
    background: #e27442;
}
/* styling for the big div that literally contains everything in this app */ 
.todo-container {
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    padding: 20px;
    width: 600px;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* styling for the div with the input form and to-do list in it */ 
.todo {
    width: 400px;
}
/* stylizes the to-do list title */
.todo-container h2 {
    padding: 10px;
    font-family: 'Candal', sans-serif;
    font-size: 2em;
}
/* stylizes the words that are on the input field for form to submit a new task */
.todo-header input {
    width: 92%;
    border: none;
    border-radius: 5px;
    height: 20px;
    font-family: 'Candal', sans-serif;
}
/* stylizes the submit button on the form */
.todo-header button {
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(51, 212, 100);
}

/* styling for HTML Unordered List - the to do list itself */ 
.todo-container ul {
    list-style: none;
}
/* styling for each individual list item */ 
.todo-list-item {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Candal', sans-serif;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
}
/* styling for the edit form */ 
.todo-list-item form {
    width: 100%;
    display: flex;
}
/* stylizes the words that are on the input field for form to edit a task */
.todo-list-item input {
    flex-grow: 2;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Candal', sans-serif;
}
/* styling for submit button on the edit task form */ 
.todo-list-item button {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(51, 212, 100);
}
/* styling for cancel button on the edit task form */
.todo-list-item .cancel {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(223, 43, 43);
    margin-left: 5px;
}
/* stylizes the div for each list item */ 
.todo-list-item div {
    flex-grow: 2;
}
/* stylizes the edit button */ 
.todo-list-item .edit {
    color : rgb(143, 233, 58);
    margin-right: 10px;
    cursor:pointer;
    text-decoration: none;
}
/* stylizes the remove button */ 
.todo-list-item .remove {
    color : rgb(243, 96, 96);
    margin-right: 5px;
    cursor:pointer;
    text-decoration: none;
}